
/Espotify/build
/Espotify/dist
/Espotify/nbproject
/pruebagit/nbproject/private/
Espotify/build.xml
Espotify/manifest.mf
README.md
README.md
/JavaApplication16/nbproject/private/
/Espotify Web/nbproject/private/
/Espotify Web/build/
Espotify Web/nbproject/project.xml
Espotify Web/nbproject/ant-deploy.xml
/Espotify Web/nbproject
Espotify Web/web/META-INF/context.xml
Espotify Web/src/conf/MANIFEST.MF
Espotify Web/build.xml
/Espotify Web/dist/
/Espotify/imagenes_listarep/sadwerto-.jpeg
